.page {
  padding: 16px 16px 96px 16px;
  margin-top: 36px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}

.bg-theme-image {
  background-image: url('https://wallpapercave.com/wp/wp2458169.png'); 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh;
}

.bg-theme-image1 {
  background-image: url('https://wallpapercave.com/wp/wp3611712.jpg'); 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh;
}

.bg-theme-image2 {
  background-image: url('https://wallpapercave.com/wp/wp2458320.png'); 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh;
}

.bg-theme-image3 {
  background-image: url('https://img.freepik.com/free-vector/mobile-wallpaper-with-fluid-shapes_79603-599.jpg?size=626&ext=jpg'); 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh;
  background-size: cover;
}