.page {
  // padding: 16px;
  margin-top: 42px; /* Adjust to prevent header overlap */
  width: 100%;
  max-width: 600px;
  overflow-y: auto; /* Allow vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure page takes up full viewport height */
  box-sizing: border-box; /* Ensure padding and border don't increase element's width/height */
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}

.custom-header {
  background-color: #0066cc;
  color: #ffffff;
  position: fixed; /* Keep header fixed at the top */
  top: 0;
  width: 100%;
  max-width: 600px;
  height: 42px; /* Adjust the height as necessary */
  z-index: 1000; /* Ensure the header is above other content */
}

.zaui-page {
  margin-bottom: 48px;
  // margin-top: 90px;
}

// .grid {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   gap: 20px;
// }

@media (max-width: 768px) {
  .page {
    padding: 8px;
    // margin-top: 90px;
    // min-height: 100vh;
    // overflow-y: auto;
    // overflow-x: hidden;
    // display: flex;
    // flex-direction: column;
  }
}
