.page {
  padding: 16px 16px 96px 16px;
  margin-top: 36px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}

.custom-header {
  background-color: #0066CC;
  color: #FFFFFF;
}